- content_for :head do
  = stylesheet_link_tag 'newsletter'
- content_for :body_content_left do
  #newsletters
    - if @newsletters.present?
      - @newsletters.each do |newsletter|
        #newsletter
          %h3
            = newsletter.title
          %p.subtitle= newsletter.created_at.strftime("%Y-%m-%d")
          %p
            = raw newsletter.email_body.truncate(500)
            = link_to t('read_more'), newsletter_url(newsletter)
          .clear
    - else
      %p= t('sorry_no_results')
= render :partial => "/shared/content_page"
