<% content_for :head do -%>
  <%= stylesheet_link_tag 'newsletter' %>
<% end -%>
<% content_for :body_content_title do %>
  <%=raw "<h1 class='hide'>M</h1>" %>
<% end -%>
<% content_for :body_content_left do %>
  <div id="newsletters">
    <div id="newsletter">
        <h2><%=raw @newsletter.title %></h2>
        <p class="subtitle"><%= @newsletter.created_at.strftime("%Y-%m-%d") %></p>
        <%=raw @newsletter.email_body %>
    </div>
  </div>
<% end -%>

<% content_for :body_content_right do %>
    <h3><%= t('recent_newsletters') %></h3>
    <ul class="recent_newsletters">
        <%- @all_newsletters.each do |newsletter| %>
            <li><%= link_to newsletter.title, newsletter_url(newsletter) %></li>
        <%- end -%>

    </ul>
<% end -%>


<%= render :partial => "/shared/content_page" %>